<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="./lib/bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./lib/jquery-1.12.4.min.js"></script>
    <script src="./lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="./lib/angular.min.js"></script>
    <script src="./controller/homepageController.js"></script>
    <script>
//        var MyApp = angular.module('myApp', []);
//        MyApp.controller("myController2",myController2);
//        function myController2(){
//            var ae =this;
//            ae.countries=[{locale:'en-US',name:'United States'}, {locale:'en-GB',name:'United Kingdom'}, {locale:'en-FR',name:'France'}];
//            ae.objA={};
//            ae.objA.name="asdaszvxz";
//            ae.objA.age="10";
//            ae.helloTo={};
//            ae.helloTo.time = 10;
//            ae.helloTo.title = "AngularJS";
//        };
//        MyApp.controller("myController",function($scope){
//            $scope.countries=[{locale:'en-US',name:'United States'}, {locale:'en-GB',name:'United Kingdom'}, {locale:'en-FR',name:'France'}];
//            $scope.objA={};
//            $scope.objA.name="asdaszvxz";
//            $scope.objA.age="10";
//            $scope.helloTo={};
//            $scope.helloTo.time = 10;
//            $scope.helloTo.title = "AngularJS";
//        });
    </script>
</head>
<body ng-app ="myApp">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel" ng-controller="searchbarcontroller as se">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">All</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" >
                        <li ng-repeat=" productCat in se.productCats">
                            <a href="#{{productCat.locale}}">{{productCat.name}}</a></li>
                        <!--<li><a href="#contains">Example 1</a></li>-->
                        <!--<li><a href="#its_equal">Example 2</a></li>-->
                        <!--<li><a href="#greather_than">Example 3</a></li>-->
                        <!--<li><a href="#less_than">Example 4</a></li>-->
                        <li class="divider"></li>
                        <li><a href="#all">All</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>

<div ng-controller="myController2 as se">
    <label>Name:</label>
    <p>{{objA.name}}</p>
    <li ng-repeat="country in se.countries">
        {{country.name}}</li>
    <p><input type ='text' ng-model ='name'></p>
    <p>{{name}}</p>
</div>
</body>

</html>